<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Builder</title>
</head>
<body>
    <h1>This is a query Builder Page</h1>
    <form action="" method="POST">
        <input type="text" placeholder="Domain" name="domain" id="domain">
        <br>
        <input type="text" placeholder="Industry" name="industry" id="industry">
        <br>
        <input type="text" placeholder="Locality" name="locality" id="locality">
        <br>
        <input type="text" placeholder="Country" name="country" id="country">
        <br>
        <button type="submit" class="btn btn-success">Query Data</button>
    </form>
</body>
</html>